@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

body {
    font-family: 'Poppins', sans-serif
}

/***** Top menu *****/

.navbar {
    background: black;
}

.navbar-brand {
    color: red;
}

a[class="nav-link"] {
    color: white;
}

.home-banner {
    background-image: url("https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1747&q=80");
    background-size: cover;
    background-position: center center;
    height:100vh;
}


.banner-text {
    padding-top: 20vh;
}

.home-text {
    color: white;

}

.home-text h1 {
    margin: 0;
}

.social-links-home {
    position: absolute;
    bottom: 4vh
}

.social-links a {
    color: white;
}

.about-section {
    background-color: black;
}


hr {
    height: 4px;
    margin-bottom: -3px;
}

.hr-section {
    border-top: 2px solid skyblue;
    width: 30vw;
    margin-top: 0;
}

.blog-section {
    background-color: #1a1a1a;
}

.project-section {
    background-color: #141414;
}

.contact-section {
    background-color: #121212;
    color: white;
}